.root {
    --dark-color: rgb(17, 116, 202);
    --text: #FAEBEFFF;
}

h1 {
    font-size: 60px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white ;

}

#current-price {
    width: 18rem;
}

#stock-quantity {
    width: 12rem;
}

#initial-price {
    width: 15rem;
}

body{
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1662675686331-3f67b029eb44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1054&q=80);
    color: white;
    font-size: 30px;
    
    
    }

label{
    display: block;
    padding-bottom: 1rem;
}

#output-box {
    display: flex;
align-items: center;
justify-content: center;
margin-top: 1rem;
   
}

#submit-btn {
    width: 40%;
    padding-top: 0.5rem 0.5rem;
    font-size: x-large;
}